<div class="resource grid grid-2col align-center">
    {{#each hitlocs as |location index|}}
    <div class="item hitloc-item" data-item-id="{{location._id}}">
        <label class="label">{{location.system.noStart}}-{{location.system.noEnd}}</label>
        <div><label class="resource-label">{{location.system.name}}</label></div>
        <div class="resource-content flexrow flex-center flex-between">
            <div class="resource-counter" data-states="/:shock,x:killing" data-max="{{location.system.max}}"
                data-shock="{{location.system.shock}}" data-killing="{{location.system.killing}}" data-name="{{location._id}}">
                {{#numLoop location.system.max}}
                <span class="resource-counter-step" data-index="{{this}}" data-state="">☐</span>
                {{/numLoop}}
            </div>
        </div>
        <div class="item-controls">
            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
        </div>
    </div>
    {{/each}}
</div>