<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
      <div class="grid grid-4col">
        <div class="resource">
          <label class="resource-label">Dice</label>
          <input type="text" name="system.d" value="{{system.d}}" data-dtype="Number"/>
        </div>
        <div class="resource">
          <label class="resource-label">Expert Dice</label>
          <input type="text" name="system.ed" value="{{system.ed}}" data-dtype="Number"/>
        </div>
        <div class="resource">
          <label class="resource-label">Master Dice</label>
          <input type="text" name="system.md" value="{{system.md}}" data-dtype="Number"/>
        </div>
        <div class="resource">
          <label class="resource-label">set ED to:</label>
          <input type="text" name="system.ed_set" value="{{system.ed_set}}" data-dtype="Number"/>
        </div>
        <div class="resource">
          <label class="resource-label">Cost/d</label>
          <input type="text" name="system.cost" value="{{system.cost}}" data-dtype="Number"/>
        </div>
      </div>
    </div>
  </header>

  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">Description</a>
  </nav>

  <section class="sheet-body">
    <div class="tab" data-group="primary" data-tab="description">
      <textarea name="system.description">{{system.description}}</textarea>
    </div>
  </section>
</form>
